/* CSS Snippets used by recolor+bordershapes sorted with a TOC (dont want things to get messy and hard to find)*/

/*	Reference

A: support/addons for plugins/uneffected-areas go here.
B: Cool custom shit that effects everyone goes here.
C: Things such as making specific people/servers have something others dont go here.
*/

/*	Table of contents
A.
A1: Powercord plugin settings separator.
A2: Removes the covering that appears when you have slow/loose connection or switch accounts and alerts you in the bottom right.
A3: Better formatting rdux box.
A4: Theme Patches.

B.
B1: avatar glow.
B2: mid top and bottom accent gradient.
B3: Large Reactions
B4: server scroll
B5: settings icon keyframe
C.
notsoRGBname
Rainbowname

*/

/*	A	*/
/* A1 */
.item-PXvHYJ[data-item-id=pc-updater] {
	height: 4.65rem;
	align-items: unset !important;
}
.item-PXvHYJ[data-item-id=pc-updater]:hover {
	background: linear-gradient(180deg,
		var(--background-modifier-hover) 0%, var(--background-modifier-hover) 43%,
		var(--background-secondary) 43.01%, var(--background-secondary) 100%) !important;
}
.item-PXvHYJ[data-item-id=pc-updater][class*=selected] {
	background: linear-gradient(180deg, 
		var(--background-modifier-selected) 0%, var(--background-modifier-selected) 43%,
		var(--background-secondary) 43.01%, var(--background-secondary) 100%) !important;
}
.item-PXvHYJ[data-item-id=pc-updater]:after {
	position: absolute;
	margin-top: 2.19rem;
	border-top: 1px solid var(--background-modifier-accent);
	line-height: 2.6rem;    
	width: 89.5%;
	content: "Plugin Settings";
	color: rgb(159, 159, 159);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}

/* A2 */
.container-16j22k {
	background: transparent;
	pointer-events: none;
}
.container-16j22k * {
	display: none;
}
.container-16j22k::before {
	content: 'You\'ve either gone offline, or are switching accounts';
	display: block;
	bottom: 24px;
	right: 24px;
	position: absolute;
	padding: 8px 16px;
	background-color: rgb(var(--accentcolor));
	border-radius: 0px;
	color: #fff;
}

/* A3 */
#bfredux::before {
	background-color: black;
}

/* A4 */
#app-mount .lowerBadge-29hYVK .base-PmTxvP,
#app-mount .upperBadge-2XnnGB .base-PmTxvP {
	box-shadow: none !important;
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile]:after {
	width: calc(25% + 25%);
	height: calc(25% + 25%);
	top: 60%;
	left: 64%;
	background-color: #f33;
}
#app-mount .wrapper-3t9DeA foreignObject {
	-webkit-mask: none;
	mask: none;
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="32"] {
	width: calc(100% + 3px);
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="32"] img {
	width: 32px;
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="80"] {
	width: calc(100% + 10px);
}
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="80"] img {
	width: 80px;
}

/**/

/**/

/*	B	*/
/* B1 */
.avatar-1BDn8e.clickable-1bVtEA { 
	filter: drop-shadow(0 0 4px);
	color: white;
}

.avatar-1BDn8e:hover.clickable-1bVtEA:hover {
	filter: drop-shadow(0 0 8px);
	color: rgb(var(--accentcolor));
}

/* B2 */
body {
	padding: 2px;
	background: -webkit-linear-gradient(to right, #000, rgb(var(--accentcolor)), #000);
	background: linear-gradient(to right, #000, rgb(var(--accentcolor)), #000);
}
#app-mount {
	width: calc(100% - 4px);
	height: calc(100% - 4px);
}

/* B3 */
.reactionInner-15NvIl .emoji {
	width: 24px !important;
	height: 24px !important;
}

/* B4 */

.none-2Eo-qx::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.none-2Eo-qx::-webkit-scrollbar-corner {
	background-color: transparent;
}
.none-2Eo-qx::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	border: 6px solid transparent;
	border-radius: 0px;
	background-color: rgb(var(--accentcolor));
}
.none-2Eo-qx::-webkit-scrollbar-track {
	border-color: transparent;
	background-color: transparent;
	border: 6px solid transparent;
}
.none-2Eo-qx:hover::-webkit-scrollbar-thumb, .none-2Eo-qx:hover::-webkit-scrollbar-track {
	visibility: visible;
}
.none-2Eo-qx::-webkit-scrollbar-thumb, .none-2Eo-qx::-webkit-scrollbar-track {
	visibility: hidden;
}
/* B5 */
@keyframes rotate360 {
	to {
		transform: rotate(360deg);
	}
}
.container-3baos1 .button-14-BFJ:last-child svg {
	animation:rotate360 2s linear infinite;
}

/*	C	*/
/* notsoRGBname */
@keyframes notsorgb-user-text {
	from {color: #ff0000}
	33% {color: #00ff00}
	66% {color: #0000ff}
	100% {color: #ff0000}
}
.message-2qnXI6[user_by_bdfdb="678541528821661696"] .username-1A8OIy,
.message-2qnXI6[data-author-id="678541528821661696"] .username-1A8OIy {
	animation: notsorgb-user-text 1s linear infinite;
}

/* Rainbowname */
.message-2qnXI6[user_by_bdfdb="289530617161580544"] .username-1A8OIy,
.message-2qnXI6[data-author-id="289530617161580544"] .username-1A8OIy,
.message-2qnXI6[user_by_bdfdb="364250589552705547"] .username-1A8OIy,
.message-2qnXI6[data-author-id="364250589552705547"] .username-1A8OIy {
	background: linear-gradient( 
		60deg, 
		hsl(224, 85%, 66%), 
		hsl(269, 85%, 66%), 
		hsl(314, 85%, 66%), 
		hsl(359, 85%, 66%), 
		hsl(44, 85%, 66%), 
		hsl(89, 85%, 66%), 
		hsl(134, 85%, 66%), 
		hsl(179, 85%, 66%) 
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
