@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);
@import url(https://jaywilson7.github.io/BorderShapes/Source/BorderShapes.css);

:root {
	--mentioncolor: 123,123,123;			/* yellow - 		default: 250,166,26	 - 	hex: #faa61a */
	
	--textbrightest: 255,255,255;			/* white - 		default: 255,255,255	 - 	hex: #ffffff */
	--textbrighter: 222,222,222;			/* darker white - 	default: 220,221,222	 - 	hex: #dcddde */
	--textbright: 185,185,185;			/* dark white - 	default: 185,187,190	 - 	hex: #b9bbbe */
	--textdark: 140,140,140;			/* bright grey - 	default: 142,146,151	 - 	hex: #8e9297 */
	--textdarker: 115,115,115;			/* brighter grey - 	default: 114,118,125	 - 	hex: #72767d */
	--textdarkest: 80,80,80;			/* grey - 		default: 79,84,92	 - 	hex: #4f545c */

	--backgroundaccent: 15,15,15;			/* darker grey - 	default: 64,68,75	 - 	hex: #40444b */
	--backgroundprimary: 8,8,8;			/* dark grey - 		default: 54,57,63	 - 	hex: #36393f */
	--backgroundsecondary: 5,5,5;			/* darkest grey - 	default: 47,49,54	 - 	hex: #2f3136 */
	--backgroundsecondaryalt: 3,3,3;		/* grey-black - 	default: 41,43,47	 - 	hex: #292b2f */
	--backgroundtertiary: 0,0,0;			/* bright black	 - 	default: 32,34,37	 - 	hex: #202225 */
	--backgroundfloating: 0,0,0;			/* brighter black - 	default: 24,25,28	 - 	hex: #18191c */
	
	--borders-buttons-1: 0px; /*Border shapes for most buttons. 20px for circle, 0px for square*/
	--borders-buttons-2: 0px; /*Border shapes for categories, channels and users. 20px for circle, 0px for square*/
	--borders-buttons-3: 0px; /*Border shapes for context menus and profile action buttons. 20px for circle, 0px for square*/
	--borders-buttons-4: 0px; /*Border shapes for circle buttons. 20px for circle, 0px for square*/
	--borders-buttons-5: 0px; /*Border shapes for color picker buttons. 20px for circle, 0px for square*/
	--borders-buttons-6: 0px; /*Border shapes for GIF picker buttons and stream windows. 25px for circle, 0px for square*/
	--borders-switches: 0px; /*Border shapes for switches. 15px for circle, 0px for square*/
	--borders-checkboxes-1: 0px; /*Border shapes for large checkboxes. 15px for circle, 0px for square*/
	--borders-checkboxes-2: 0px; /*Border shapes for small checkboxes. 10px for circle, 0px for square*/
	--borders-slider-bars: 0px; /*Border shapes for slider bars. 5px for circle, 0px for square*/
	--borders-slider-grabbers-1: 0px; /*Border shapes for circle slider grabbers. 8px for circle, 0px for square*/
	--borders-slider-grabbers-2: 0px; /*Border shapes for squircle slider grabbers. 5px for circle, 0px for square*/
	--borders-progress-bars: 0px; /*Border shapes for progress bars. 5px for circle, 0px for square*/
	--borders-inputs: 0px; /*Border shapes for inputs. 25px for circle, 0px for square*/
	--borders-contexts: 0px; /*Border shapes for context menus. 25px for circle, 0px for square*/
	--borders-popouts: 0px; /*Border shapes for popouts. 25px for circle, 0px for square*/
	--borders-modals: 0px; /*Border shapes for modals. 25px for circle, 0px for square*/
	--borders-cards: 0px; /*Border shapes for cards. 25px for circle, 0px for square*/
	--borders-banners: 0px; /*Border shapes for banners. 25px for circle, 0px for square*/
	--borders-previews: 0px; /*Border shapes for previews. 25px for circle, 0px for square*/
	--borders-sidebar-and-notices: 0px; /*Shape for top left sidebar and notices border. 25px for circle, 0px for square*/
	--borders-users-in-calls: 0px; /*Border shapes for user cards in calls. 25px for circle, 0px for square*/
	--borders-servers-1: 0%; /*Border shapes for most server icons. 50% for circle, 0% for square*/
	--borders-servers-2: 0px; /*Border shapes for server icons in "Public Servers". 25px for circle, 0px for square*/
	--borders-servers-3: 0px; /*Border shapes for server icons in "Enable Community" section in server settings. 15px for circle, 0px for square*/
	--borders-server-badges: 0px; /*Border shapes for server badges. 10px for circle, 0px for square*/
	--borders-server-pill: 0px; /*Border shapes for selected server pill. 5px for circle, 0px for square*/
	--borders-unreads: 0px; /*Border shapes for unread badges. 5px for circle, 0px for square*/
	--borders-avatars-1: 0px; /*Border shapes for popout and modal avatars. 40px for circle, 0px for square*/
	--borders-avatars-2: 0px; /*Border shapes for chat and memberlist avatars. 20px for circle, 0px for square*/
	--borders-avatars-3: 0px; /*Border shapes for authtorization with QR-code. 60px for circle, 0px for square*/
	--borders-avatars-4: 0px; /*Border shapes for other avatars. 15px for circle, 0px for square*/
	--borders-roles-outlines: 0px; /*Border shapes for roles outlines. 10px for circle, 0px for square*/
	--borders-roles-dots: 0px; /*Border shapes for roles dots. 10px for circle, 0px for square*/
	--borders-tags: 0px; /*Border shapes for tags. 10px for circle, 0px for square*/
	--borders-activities-1: 0px; /*Border shapes for large activity icons. 45px for circle, 0px for square*/
	--borders-activities-2: 0px; /*Border shapes for small activity icons. 30px for circle, 0px for square*/
	--borders-activities-badge-1: 0px; /*Border shapes for large activities badge. 20px for circle, 0px for square*/
	--borders-activities-badge-2: 0px; /*Border shapes for small activities badge. 12px for circle, 0px for square*/
	--borders-icons-1: 0px; /*Border shapes for large icons. 25px for circle, 0px for square*/
	--borders-icons-2: 0px; /*Border shapes for small icons. 10px for circle, 0px for square*/
	--borders-icons-3: 0px; /*Border shapes for dot icons. 5px for circle, 0px for square*/
	--borders-icons-4: 0px; /*Border shapes for flag icons. 10px for circle, 0px for square*/
	--borders-icons-5: 0%; /*Border shapes for HypeSquad icons in user settings. 50% for circle, 0% for square*/
	--borders-labels-1: 0px; /*Border shapes for large labels. 15px for circle, 0px for square*/
	--borders-labels-2: 0px; /*Border shapes for small labels. 10px for circle, 0px for square*/
	--borders-lines: 0px; /*Border shapes for lines when you drag categories or channels. 2px for circle, 0px for square*/
	--borders-images-and-gifs: 0px; /*Border shapes for images and gifs previews. 25px for circle, 0px for square*/
	--borders-videos: 0px; /*Border shapes for videos previews. 25px for circle, 0px for square*/
	--borders-audios: 0px; /*Border shapes for audios previews. 25px for circle, 0px for square*/
	--borders-embeds: 0px; /*Border shapes for embeds. 25px for circle, 0px for square*/
	--borders-messages: 0px; /*Border shapes for hovered or highlighted messages. 25px for circle, 0px for square*/
	--borders-mentions: 0px; /*Border shapes for mentions. 10px for circle, 0px for square*/
	--borders-reactions: 0px; /*Border shapes for reactions. 10px for circle, 0px for square*/
	--borders-replies: 0px; /*Border shapes for replies lines. 15px for circle, 0px for square*/
	--borders-formatting: 0px; /*Border shapes for formatting toolbars. 10px for circle, 0px for square*/
	--borders-codes: 0px; /*Border shapes for codes and codeblocks. 10px for circle, 0px for square*/
	--borders-spoilers: 0px; /*Border shapes for spoilers. 10px for circle, 0px for square*/
	--borders-quotes: 0px; /*Border shapes for quote icon. 2px for circle, 0px for square*/
	--borders-toasts: 0px; /*Border shapes for toasts. 25px for circle, 0px for square*/
	--borders-tooltips: 0px; /*Border shapes for tooltips. 25px for circle, 0px for square*/
	--borders-scrollbars: 0px; /*Border shapes for scrollbars. 10px for circle, 0px for square*/
	--borders-editors: 0px; /*Border shapes for editors workspace. 20px for circle, 0px for square*/

	--user-status-width-large: 2px; /*Border width for status for large avatars. Default - 2px*/
	--user-status-width-small: 2px; /*Border width for status for small avatars. Default - 2px*/
	--user-status-spacing-large: 0px; /*Spacing between statuses and large avatars. Default - 1px*/
	--user-status-spacing-small: 0px; /*Spacing between statuses and small avatars. Default - 1px*/
	--background-opacity-mobile: none; /*Background opacity for "Online via Mobile" statuses. Default - 0.6*/
	--background-opacity-typing: 0.25; /*Background opacity for "Typing" indicators. Default - 0.6*/
	--status-color-online: #43b581; /*Color for "Online" statuses. Default - #43b581*/
	--status-color-idle: #faa61a; /*Color for "Idle" statuses. Default - #faa61a*/
	--status-color-dnd: #f04747; /*Color for "Do Not Disturb" statuses. Default - #f04747*/
	--status-color-streaming: #593695; /*Color for "Streaming" statuses. Default - #593695*/
	--status-color-offline: #747f8d; /*Color for "Offline" statuses. Default - #747f8d*/
	--status-color-invisible: #747f8d; /*Color for "Invisible" statuses. This only works for your status. Default - #747f8d*/
	--mobile-status-icon-display: visible; /*Display mode for "Online via Mobile" status icon. visible to show, hidden to hide*/
	--borders-color-primary: var(--background-primary); /*Borders color for elements on primary background. Default - var(--background-primary)*/
	--borders-color-secondary: var(--background-secondary); /*Borders color for elements on secondary background. Default - var(--background-secondary)*/
	--borders-color-tertiary: var(--background-tertiary); /*Borders color for elements on tertiary background. Default - var(--background-tertiary)*/
	--borders-color-floating: var(--background-floating); /*Borders color for elements on floating background. Default - var(--background-floating)*/
	--borders-color-special: #000; /*Borders color for elements on special background. Default - #000*/
	--borders-color-activity: #6c82cf; /*Borders color for elements on activity background. Default - #6c82cf*/
}

/* ~~~~		SQUARES STATUS PATCHED		~~~~ */

#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile]:after {
	-webkit-mask-size: 15%;
	top: 83%;
	left: 88%;
	background-color: #f33;
}

/* ~~~~		MORE DAMN PATCHES		~~~~ */

#app-mount .lowerBadge-29hYVK,
#app-mount .upperBadge-2XnnGB {
	box-shadow: none;
}

/* ~~~~		kewl servers		~~~~ */

[src="https://cdn.discordapp.com/icons/740478947804053596/2e452b12e67eafc171eb1dd155d354bc.webp?size=128"] {
	height: 0px;
	width: 0px;
	margin-top: 20px;
	margin-left: 50px;
	padding: 100px;
	background-image: url(https://media.tenor.com/images/1bd3db93ffa0a80959371c7b9fa6dab9/tenor.gif) !important;
	background-size:50px;
}

/* ~~~~		kewl people		~~~~ */

@keyframes rainbow-user-text {
	from {color: #6666ff}
	25%  {color: #0099ff}
	50%  {color: #00ff00}
	75%  {color: #ff3399}
	100% {color: #6666ff}
}

.message-2qnXI6[data-author-id="678541528821661696"] .username-1A8OIy {
	animation: rainbow-user-text 1s ease-in-out infinite;
}

.message-2qnXI6[data-author-id="289530617161580544"] .username-1A8OIy {
	background: linear-gradient( 
		60deg, 
		hsl(224, 85%, 66%), 
		hsl(269, 85%, 66%), 
		hsl(314, 85%, 66%), 
		hsl(359, 85%, 66%), 
		hsl(44, 85%, 66%), 
		hsl(89, 85%, 66%), 
		hsl(134, 85%, 66%), 
		hsl(179, 85%, 66%) 
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* ~~~~		DEWATERMARK		~~~~ */

html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 > nav.sidebar-CFHs9e > div.side-8zPYf6 > div.info-1VyQPT::after {
	content: "DiscordRecolor+bordershapes by DevilBro and JayWilson merged by Kewl Sage from Hypesquad" !important;
}
html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 > nav.sidebar-CFHs9e > div.side-8zPYf6 > div.info-1VyQPT::before {
	content: "" !important;
}
