/* CSS Snippets used by recolor+bordershapes sorted with a TOC (dont want things to get messy and hard to find)*/

/*	Reference

A: support/addons for plugins/uneffected-areas go here.
B: Cool custom shit that effects everyone goes here.
C: Things such as making specific people/servers have something others dont go here.
*/

/*	Table of contents
A.
A1: Powercord plugin settings separator.
A2: Removes the covering that appears when you have slow/loose connection or switch accounts and alerts you in the bottom right.
A3: Better formatting rdux box.
A4: Theme Patches,

B.
B1: avatar glow.
B2: Large Reactions
C.
notsoRGBname
Rainbowname
servericons

*/

/*	A	*/
/* A1 */
.item-PXvHYJ[data-item-id=pc-updater] {
	height: 4.65rem;
	align-items: unset !important;
}
.item-PXvHYJ[data-item-id=pc-updater]:hover {
	background: linear-gradient(180deg,
		var(--background-modifier-hover) 0%, var(--background-modifier-hover) 43%,
		var(--background-secondary) 43.01%, var(--background-secondary) 100%) !important;
}
.item-PXvHYJ[data-item-id=pc-updater][class*=selected] {
	background: linear-gradient(180deg, 
		var(--background-modifier-selected) 0%, var(--background-modifier-selected) 43%,
		var(--background-secondary) 43.01%, var(--background-secondary) 100%) !important;
}
.item-PXvHYJ[data-item-id=pc-updater]:after {
	position: absolute;
	margin-top: 2.19rem;
	border-top: 1px solid var(--background-modifier-accent);
	line-height: 2.6rem;    
	width: 89.5%;
	content: "Plugin Settings";
	color: rgb(159, 159, 159);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}

/* A2 */
.container-16j22k {
	background: transparent;
	pointer-events: none;
}
.container-16j22k * {
	display: none;
}
.container-16j22k::before {
	content: 'You\'ve either gone offline, or are switching accounts';
	display: block;
	bottom: 24px;
	right: 24px;
	position: absolute;
	padding: 8px 16px;
	background-color: rgb(var(--accentcolor));
	border-radius: 0px;
	color: #fff;
}

/* A3 */
#bfredux::before {
	background-color: black;
}

/* A4 */
#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile]:after {
	-webkit-mask-size: 15%;
	top: 35%;
	left: 40%;
	background-color: #f33;
}
#app-mount .lowerBadge-29hYVK .base-PmTxvP,
#app-mount .upperBadge-2XnnGB .base-PmTxvP {
	box-shadow: none !important;
}

/**/

/**/

/*	B	*/
/* B1 */
.avatar-1BDn8e.clickable-1bVtEA { 
	filter: drop-shadow(0 0 4px);
	color: white;
}

.avatar-1BDn8e:hover.clickable-1bVtEA:hover {
	filter: drop-shadow(0 0 8px);
	color: rgb(var(--accentcolor));
}

/* B2 */
.reactionInner-15NvIl .emoji {
	width: 24px !important;
	height: 24px !important;
}

/**/

/*	C	*/
/* notsoRGBname */
@keyframes rainbow-user-text {
	from {color: #6666ff}
	25%  {color: #0099ff}
	50%  {color: #00ff00}
	75%  {color: #ff3399}
	100% {color: #6666ff}
}
.message-2qnXI6[data-author-id="678541528821661696"] .username-1A8OIy {
	animation: rainbow-user-text 1s ease-in-out infinite;
}

/* Rainbowname */
.message-2qnXI6[data-author-id="289530617161580544"] .username-1A8OIy {
	background: linear-gradient( 
		60deg, 
		hsl(224, 85%, 66%), 
		hsl(269, 85%, 66%), 
		hsl(314, 85%, 66%), 
		hsl(359, 85%, 66%), 
		hsl(44, 85%, 66%), 
		hsl(89, 85%, 66%), 
		hsl(134, 85%, 66%), 
		hsl(179, 85%, 66%) 
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.message-2qnXI6[data-author-id="364250589552705547"] .username-1A8OIy {
	background: linear-gradient( 
		60deg, 
		hsl(224, 85%, 66%), 
		hsl(269, 85%, 66%), 
		hsl(314, 85%, 66%), 
		hsl(359, 85%, 66%), 
		hsl(44, 85%, 66%), 
		hsl(89, 85%, 66%), 
		hsl(134, 85%, 66%), 
		hsl(179, 85%, 66%) 
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* servericons */
[src="https://cdn.discordapp.com/icons/740478947804053596/2e452b12e67eafc171eb1dd155d354bc.webp?size=128"] {
	height: 0px;
	width: 0px;
	margin-top: 20px;
	margin-left: 50px;
	padding: 100px;
	background-image: url(https://media.tenor.com/images/1bd3db93ffa0a80959371c7b9fa6dab9/tenor.gif) !important;
	background-size:50px;
}
