@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);
@import url(https://kewlsage.github.io/BorderShapes/Source/base.css);
@import url(https://HypeSquad-inc.github.io/themes/recolor+bordershapes/base-snippets.css);
@import url(https://HypeSquad-inc.github.io/themes/custom-server-icons-db/csi.css);
@import url(https://HypeSquad-inc.github.io/themes/customemojicss/emote.css);

:root {
	--mentioncolor: 125,125,125;			/* yellow - 		default: 250,166,26	 - 	hex: #faa61a */

	--textbrightest: 255,255,255;			/* white - 		default: 255,255,255	 - 	hex: #ffffff */
	--textbrighter: 222,222,222;			/* darker white - 	default: 220,221,222	 - 	hex: #dcddde */
	--textbright: 185,185,185;			/* dark white - 	default: 185,187,190	 - 	hex: #b9bbbe */
	--textdark: 140,140,140;			/* bright grey - 	default: 142,146,151	 - 	hex: #8e9297 */
	--textdarker: 115,115,115;			/* brighter grey - 	default: 114,118,125	 - 	hex: #72767d */
	--textdarkest: 80,80,80;			/* grey - 		default: 79,84,92	 - 	hex: #4f545c */

	--backgroundaccent: 15,15,15;			/* darker grey - 	default: 64,68,75	 - 	hex: #40444b */
	--backgroundprimary: 8,8,8;			/* dark grey - 		default: 54,57,63	 - 	hex: #36393f */
	--backgroundsecondary: 5,5,5;			/* darkest grey - 	default: 47,49,54	 - 	hex: #2f3136 */
	--backgroundsecondaryalt: 3,3,3;		/* grey-black - 	default: 41,43,47	 - 	hex: #292b2f */
	--backgroundtertiary: 0,0,0;			/* bright black	 - 	default: 32,34,37	 - 	hex: #202225 */
	--backgroundfloating: 0,0,0;			/* brighter black - 	default: 24,25,28	 - 	hex: #18191c */

	--borders-buttons-rounded: 0px; /*Border shapes for rounded buttons. 25px for circle, 0px for square*/
	--borders-buttons-circle: 0px; /*Border shapes for circle buttons. 25px for circle, 0px for square*/
	--borders-switches: 0px; /*Border shapes for switches. 15px for circle, 0px for square*/
	--borders-checkboxes: 0%; /*Border shapes for checkboxes. 50% for circle, 0% for square*/
	--borders-slider-bars: 0px; /*Border shapes for slider bars. 5px for circle, 0px for square*/
	--borders-slider-grabbers: 0px; /*Border shapes for slider grabbers. 8px for circle, 0px for square*/
	--borders-progress-bars: 0px; /*Border shapes for progress bars. 5px for circle, 0px for square*/
	--borders-inputs: 0px; /*Border shapes for inputs. 25px for circle, 0px for square*/
	--borders-contexts: 0px; /*Border shapes for context menus. 25px for circle, 0px for square*/
	--borders-popouts: 0px; /*Border shapes for popouts. 25px for circle, 0px for square*/
	--borders-modals: 0px; /*Border shapes for modals. 25px for circle, 0px for square*/
	--borders-cards: 0px; /*Border shapes for cards. 25px for circle, 0px for square*/
	--borders-media: 0px; /*Border shapes for images, videos, audios and gifs. 25px for circle, 0px for square*/
	--borders-previews: 0px; /*Border shapes for previews. 25px for circle, 0px for square*/
	--borders-servers-default: 0%; /*Border shapes for server icons and circle buttons on server side. 50% for circle, 0% for square*/
	--borders-servers-interactive: 0%; /*Border shapes for hovered or selected elements mentioned in previous description. 50% for circle, 0% for square*/
	--borders-folders: 0px; /*Border shapes for server folders. 35px for circle, 0px for square*/
	--borders-avatars: 0%; /*Border shapes for avatars. 50% for circle, 0% for square*/
	--borders-icons-default: 0%; /*Border shapes for icons that have width equal height. 50% for circle, 0% for square*/
	--borders-icons-wide: 0px; /*Border shapes for icons that have more width than height. 5px for circle, 0px for square*/
	--borders-labels-large: 0px; /*Border shapes for large text and number indicators. 15px for circle, 0px for square*/
	--borders-labels-small: 0px; /*Border shapes for small text and number indicators. 10px for circle, 0px for square*/
	--borders-pills: 0px; /*Border shapes for unread badges and selected server pills. 5px for circle, 0px for square*/
	--borders-lines: 0px; /*Border shapes for lines when you drag categories or channels. 2px for circle, 0px for square*/
	--borders-role-outlines: 0px; /*Border shapes for roles outlines. 10px for circle, 0px for square*/
	--borders-role-dots: 0px; /*Border shapes for roles dots. 10px for circle, 0px for square*/
	--borders-messages: 0px; /*Border shapes for hovered or highlighted messages. 25px for circle, 0px for square*/
	--borders-mentions: 0px; /*Border shapes for mentions. 10px for circle, 0px for square*/
	--borders-reactions: 0px; /*Border shapes for reactions. 10px for circle, 0px for square*/
	--borders-codes: 0px; /*Border shapes for codes and codeblocks. 10px for circle, 0px for square*/
	--borders-embeds: 0px; /*Border shapes for embeds. 25px for circle, 0px for square*/
	--borders-replies: 0px; /*Shape for top left replies border. 15px for circle, 0px for square*/
	--borders-quotes: 0px; /*Border shapes for quote icon. 2px for circle, 0px for square*/
	--borders-spoilers: 0px; /*Border shapes for spoilers. 10px for circle, 0px for square*/
	--borders-tooltips: 0px; /*Border shapes for tooltips. 25px for circle, 0px for square*/
	--borders-scrollbars: 0px; /*Border shapes for scrollbars. 10px for circle, 0px for square*/
	--borders-sidebar-and-notices: 0px; /*Shape for top left sidebar and notices border. 25px for circle, 0px for square*/
	--borders-navigation-highlight: 0px; /*Border shapes for navigation highlight when you press TAB. 25px for circle, 0px for square*/
	--borders-toasts: 0px; /*Border shapes for toasts. 25px for circle, 0px for square*/
	--borders-code-editors: 0px; /*Border shapes for code editors workspace. 10px for circle, 0px for square*/
 
	--avatar-wrapper-size-120: 120px; /*Size for status wrapper around avatars 120px by 120px.*/
	--avatar-wrapper-size-80: 80px; /*Size for status wrapper around avatars 80px by 80px*/
	--avatar-wrapper-size-40: 40px; /*Size for status wrapper around avatars 40px by 40px*/
	--avatar-wrapper-size-32: 32px; /*Size for status wrapper around avatars 32px by 32px*/
	--avatar-wrapper-size-24: 24px; /*Size for status wrapper around avatars 24px by 24px*/
	--avatar-wrapper-size-16: 16px; /*Size for status wrapper around avatars 16px by 16px*/
	--avatar-brightness-mobile: 0; /*Brightness for avatar behind "Online via Mobile" icon. Default - 0.6*/
	--avatar-brightness-typing: 0.4; /*Brightness for avatar behind "Typing" icon. Default - 0.6*/
	--status-width-large: 2px; /*Border width for large avatars status. Default - 2px*/
	--status-width-small: 2px; /*Border width for small avatars status. Default - 2px*/
	--status-spacing-large: 0px; /*Spacing between statuses and large avatars. Default - 1px*/
	--status-spacing-small: 0px; /*Spacing between statuses and small avatars. Default - 1px*/
	--status-color-online: #43b581; /*Color for "Online" statuses. Default - #43b581*/
	--status-color-idle: #faa61a; /*Color for "Idle" statuses. Default - #faa61a*/
	--status-color-dnd: #f04747; /*Color for "Do Not Disturb" statuses. Default - #f04747*/
	--status-color-streaming: #593695; /*Color for "Streaming" statuses. Default - #593695*/
	--status-color-offline: #747f8d; /*Color for "Offline" statuses. Default - #747f8d*/
	--status-color-activity-online: #43b581; /*Color for "Online" statuses on activity background. Default - #fff*/
	--status-color-activity-idle: #faa61a; /*Color for "Idle" statuses on activity background. Default - #fff*/
	--status-color-activity-dnd: #f04747; /*Color for "Do Not Disturb" statuses on activity background. Default - #fff*/
	--status-color-activity-streaming: #593695; /*Color for "Streaming" statuses on activity background. Default - #fff*/
	--status-color-activity-offline: #747f8d; /*Color for "Offline" statuses on activity background. Default - #fff*/
	--status-mobile-icon-display: visible; /*Display mode for "Online via Mobile" status icon. visible to show, none to hide*/
	--borders-color-primary: var(--background-primary); /*Borders color for elements on primary background. Default - var(--background-primary)*/
	--borders-color-secondary: var(--background-secondary); /*Borders color for elements on secondary background. Default - var(--background-secondary)*/
	--borders-color-tertiary: var(--background-tertiary); /*Borders color for elements on tertiary background. Default - var(--background-tertiary)*/
	--borders-color-floating: var(--background-floating); /*Borders color for elements on floating background. Default - var(--background-floating)*/
	--borders-color-textarea: var(--channeltextarea-background); /*Borders color for elements on channel textarea background. Default - var(--channeltextarea-background)*/
	--borders-color-activity: #6c82cf; /*Borders color for elements on activity background. Default - #6c82cf*/
}

html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 > nav.sidebar-CFHs9e > div.side-8zPYf6 > div.info-1VyQPT::after {
	content: "" !important;
}
html:only-child > head + body > div#app-mount.appMount-3lHmkl > div.app-1q1i1E > div.app-2rEoOp > div.layers-3iHuyZ.layers-3q14ss > div.layer-3QrUeG.baseLayer-35bLyl + div.layer-3QrUeG > div.standardSidebarView-3F1I7i > div.sidebarRegion-VFTUkN > div.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 > nav.sidebar-CFHs9e > div.side-8zPYf6 > div.info-1VyQPT::before {
	content: "" !important;
}
