.emoji[src="/assets/263a7f4eeb6f69e46d969fa479188592.svg"] {
	content: var(--EMJ-thinking);
}
.emoji[src="/assets/5f80f04e6ee97feebdd00feff92ced82.svg"] {
	content: var(--EMJ-sunglasses);
}

/*
.emoji[] {
	content: var(--EMJ-);
}
.emoji[] {
	content: var(--EMJ-);
}
.emoji[] {
	content: var(--EMJ-);
}
.emoji[] {
	content: var(--EMJ-);
}
.emoji[] {
	content: var(--EMJ-);
}
.emoji[] {
	content: var(--EMJ-);
}
*/
