/*for shits and giggles*/

/* Thinking � */
.emoji[src*="263a7f4eeb6f69e46d969fa479188592"] {
	content: url(https://raw.githubusercontent.com/HypeSquad-inc/HypeSquad-inc.github.io/main/themes/customemojicss/emotes/thinking/emote.png);
}

/* Sunglasses 😎 */
.emoji[src*="5f80f04e6ee97feebdd00feff92ced82"] {
	content: url(https://raw.githubusercontent.com/HypeSquad-inc/HypeSquad-inc.github.io/main/themes/customemojicss/emotes/sunglasses/emote.png);
}

/* Rofl 🤣 */
.emoji[src*="4c537a5536df74dcb65c6feb2ad3ab44"] {
	content: url(https://raw.githubusercontent.com/HypeSquad-inc/HypeSquad-inc.github.io/main/themes/customemojicss/emotes/rofl/emote.gif);
}

/* Lauging 😆 */
.emoji[src*="babfa5ab2aa87f7001ac9c1f9a7d5f34"] {
	content: url(https://raw.githubusercontent.com/HypeSquad-inc/HypeSquad-inc.github.io/main/themes/customemojicss/emotes/laughing/emote.png);
}

/* Nerd 🤓 */
.emoji[src*="c61131c53f9986ac8808d592c3019a7a"] {
	content: url(https://raw.githubusercontent.com/HypeSquad-inc/HypeSquad-inc.github.io/main/themes/customemojicss/emotes/nerd/emote.png)
}
