@import url(https://HypeSquad-inc.github.io/themes/recolor+bordershapes/base.css);

:root {
	--accentcolor: 53,0,53;		/*	blurple	- 	default: 114,137,218	- 	hex: #7289da */
	--linkcolor: 53,0,53;			/*	link	- 	default: 0,176,244	- 	hex: #00b0f4 */
}
