@import url(https://HypeSquad-inc.github.io/themes/recolor+bordershapes/base.css);

:root {
	--accentcolor: 192,192,192;		/*	blurple	- 	default: 114,137,218	- 	hex: #7289da */
	--linkcolor: 192,192,192;			/*	link	- 	default: 0,176,244	- 	hex: #00b0f4 */
}

.listItem-2P_4kh:nth-child(1) .listItemWrapper-3X98Pc .wrapper-25eVIn svg foreignObject .wrapper-1BJsBx:hover .childWrapper-anI2G9 .homeIcon-tEMBK1,
.listItem-2P_4kh:nth-child(1) .listItemWrapper-3X98Pc .wrapper-25eVIn svg foreignObject .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 .homeIcon-tEMBK1 {
  color: #000000
}
